{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
<div class="container">

    <div class="text-center p-3">
        <h1 class="display-3"><i class="fa-solid fa-envelope text-primary me-3"></i>Mail</h1>
        <h2 class="fw-light fs-4">{{ request.user.email }}</h2>
        <button class="btn btn-sm btn-primary" id="inbox">Inbox</button>
        <button class="btn btn-sm btn-primary" id="compose">Compose</button>
        <button class="btn btn-sm btn-primary" id="sent">Sent</button>
        <button class="btn btn-sm btn-primary" id="archived">Archived</button>
        <a class="btn btn-sm btn-primary" href="{% url 'logout' %}">Log Out</a>
    </div>
    <hr>

    <div id="alert">
    </div>

    <div id="emails-view">
    </div>

    <div id="compose-view">
        <h3 class="mb-3">New Email</h3>
        <form id="compose-form">
            <div class="mb-3 d-flex align-items-baseline gap-3">
                <label for="compose-sender" class="form-label text-muted">From:</label>
                <input id="compose-sender" class="form-control" type="text" value="{{ request.user.email }}" disabled>
            </div>
            <div class="mb-3 d-flex align-items-baseline gap-3">
                <label for="compose-sender" class="form-label text-muted">To:</label>
                <input id="compose-recipients" class="form-control" type="text">
            </div>
            <div class="mb-3 d-flex align-items-baseline gap-3">
                <label for="compose-subject" class="form-label text-muted">Subject:</label>
                <input id="compose-subject" class="form-control">
            </div>
            <div class="mb-3">
                <textarea class="form-control" id="compose-body" rows="4"></textarea>
            </div>
            <div class="mb-3">
                <input type="submit" class="btn btn-primary">
            </div>
        </form>
    </div>

    <div id="email-view">
    </div>

</div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}